script(src="js/all.min.js")
script(src="js/jquery.min.js")
// plugin (zoom image) => {return 'main.js' + 'zoom-image.js'} 
script(src="js/plugin/zoom-image/zoom-image.js")
script(src="js/plugin/zoom-image/main.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/bootstrap.min.js")
script(src="js/store.js")