.sidebar 
    .icon-close
        i.fas.fa-list
    .avatar-store 
        img(src="imgs/logos/01.png").rounded-circle
        p.store-title Name store 
    .links-store 
        ul.list-unstyled 
            li #[a(href="dashstore.html") Dashboard ]
            li #[a(href="orders.html") Products ]
            li #[a(href="#") Clients ]
            li #[a(href="#")  Employees ]
            li #[a(href="#")  Anylistes ]
            li #[a(href="set_dash.html")  settings ]