.banner {
    overflow: hidden;
    height: 400px;
    .cover {
        img {
            width: 100%;
            transition: .5s;
            &:hover {
                filter: blur(2px);
            }
        }
    }

    .info {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: white;
        h2 {
            font-size: 15px;
        }

        .btn-light {
            width: 150px;
            box-shadow: 5px 4px 0px #f8f9fa;
            background: none;
            border-width: 2px;
            transition: .3s;
            &:hover {
                background: white;
                box-shadow:none;
                border-color: white;
                transform: translateX(10px);
            }
        }
    }
}