.navbar-store  {
    background-color: white;
    width: 100%;
    padding: 10px;
    position: relative;
    .logo {
        h1 {
            font-size: 20px;
            font-weight: 600;
        }
    }

    .links-nav {
        position: absolute;
        right: 10px;
        top: 10px;
        ul {
            display: flex;
             li {
                 margin-right: 20px;
                 a {
                     color: #6a7284;
                     i {
                         margin-top: 5px;
                     }
                     img {
                        @include avatar(35px,35px,unset,unset) ;
                     }
                 }
             }
        }
    }
}