nav.store-nav
    .logo 
        | Moelza-Fashion 
    .links 
        ul.list-unstyled 
            li #[a(href="#") Home ] 
            li #[a(href="#") About ]  
            li #[a(href="#") Men ] 
            li #[a(href="#") Woman ] 
        i.fas.fa-stream 