.linkones.card.border-0.p-3
    h2.title Men 
    hr.mb-1
    .container.mt-5
        .row 
            - var numarray = [1,2,3]
            each numone in numarray
                .col-lg-4
                    p.title Shose
                    ul.list-unstyled
                        li #[a(href="#") All Shoes] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Lifestyle] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Football] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Sports] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Basketball] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Tennis] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Golf] #[i.fas.fa-arrow-right]
                        li #[a(href="#") Skateboarding] #[i.fas.fa-arrow-right]
                    p.title Shop By Sport
                    ul.list-unstyled
                        li #[a(href="#") Tennis] #[i.fas.fa-arrow-right]    
                        li #[a(href="#") Golf] #[i.fas.fa-arrow-right]  
                        li #[a(href="#") Skateboarding] #[i.fas.fa-arrow-right] 
                        li #[a(href="#") Lifestyle] #[i.fas.fa-arrow-right] 
                        li #[a(href="#") Football] #[i.fas.fa-arrow-right]  
                        li #[a(href="#") Sports] #[i.fas.fa-arrow-right]    
                        li #[a(href="#") Basketball] #[i.fas.fa-arrow-right]    
                    

