// media screen 520px phone
@media only screen and (max-width:520px) {
    .store { 
        .showproduct {
            .product  {
                padding: 10px;
                .info {
                    .price {
                        .form-control {
                            width: auto !important;
                        }
                    }

                    .control {
                        .btn {
                            padding: 5px;
                            width: 150px;
                            height: 40px;
                            font-size: 15px;
                        }
                    }
                }
            }

            .aother-products {
                .aother-product {
                    .overlay {
                        left: -660px ;
                    }
                }
            }

        }
    }

}


// media screen 380px phone
@media only screen and (max-width:380px) {
    .store { 
        .showproduct {
            .product  {
                padding: 10px;
                .info {
                    text-align: center;
                    .price {
                        display: block !important;
                        span {
                            font-size: 25px;
                        }
                        .form-control {
                            width: auto !important;
                            margin: 2% auto;
                            display: inline-block;
                        }
                    }

                    .control {
                        display: block !important;
                        .btn {
                            padding: 5px;
                            width: 100%;
                            height: 40px;
                            margin-bottom: 10px;
                            font-size: 15px;
                        }
                    }
                }
            }

            .aother-products {
                .aother-product {
                    .overlay {
                        left: -660px ;
                    }
                }
            }

        }
    }

}