// More categories and title page 
// media screen 500px phone
@media only screen and (max-width:520px) {
    .store { 
        .title_home {
            padding: 5px;
        }
        .desc_home {
            width: auto !important;
            padding: 5px;
        }
        .categories {
            .category {
                margin-bottom: 15px;
            }
        }
    }


}