- var pagename = 'Store > Moelza-Fashion '
<! DOCTYPE html >
html 
  head
    include pug/layouts/_head
    title #{pagename}
  body 
    include pug/pages/landing_store/_navbar
    .store.store_buyer
    include pug/layouts/_footer
    include pug/components/loading