.navbar-store 
    .logo 
        h1 Store
    
    .links-nav
        ul.list-unstyled 
            li #[a(href="home.html") #[i.fas.fa-home] ]
            li #[a(href="#") #[i.fas.fa-search] ]
            li #[a(href="#") #[img(src="imgs/logos/02.jpg").rounded-circle] ]
    