.navbar-store 
    .logo 
        h1 Store
    .links-nav
        ul.list-unstyled 
            li.showsidebar #[a(href="#showsidebar") #[i.fas.fa-list] ]
            li #[a(href="newhome.html") #[i.fas.fa-home] ]
            li #[a(href="#") #[i.fas.fa-search] ]
            li #[a(href="#") #[img(src="imgs/logos/02.jpg").rounded-circle] ]
    