.header
    h2.logo #[a(href="home.html") Store] 
    .menu
        ul.list-unstyled
            li.linkone Men 
            li Woman 
            li Kids 
            li Categories
    .shop
        ul.list-unstyled
            li #[a(href) #[i.fas.fa-shopping-bag] ]
            li #[a(href) #[i.far.fa-heart] ]
//- .search-nav 
//-     form.form-nav 
//-         i.fas.fa-search
//-         input(type="search", placeholder="Search").form-control.form-control-md
//-     .link
//-         ul.list-unstyled
//-             li #[a(href="#") Help] 
//-             li #[a(href="#") Join Us] 
//-             li #[a(href="#") Sign In]