.profilesettings 
    ul.list-unstyled 
        li #[a(href="dashstore.html") #[i.fas.fa-edit ] ]
        li #[a(href="#") #[i.fas.fa-user ] ]
        li #[a(href="#") #[i.fas.fa-cog] ]
        li #[a(href="#") #[i.fas.fa-arrow-left] ]