.sidebarcart.card.border-0.shadow-store
    h2.title Your products 
    .products.mt-3
        .cart 
            .overlay
                a(href="#show").mr-3.btn.btn-outline-primary.btn-sm #[i.fas.fa-eye ] show 
                a(href="#close").mr-3.btn.btn-outline-danger.btn-sm.delete #[i.fas.fa-times] delete
            .bag-product
                .cover-product
                    img(src="imgs/products/woman/02.jpg").rounded-circle
                p.title Best Closth for Charthmes #[span $225]
        .cart 
            .overlay
                a(href="#show").mr-3.btn.btn-outline-primary.btn-sm #[i.fas.fa-eye ] show 
                a(href="#close").mr-3.btn.btn-outline-danger.btn-sm.delete #[i.fas.fa-times] delete
            .bag-product
                .cover-product
                    img(src="imgs/products/woman/04.jpg").rounded-circle
                p.title Best Closth for Charthmes  #[span $225]
        hr.mb-0
        p.total.title.m-2 Total $450

            

    