.footer-links.container-fuild.p-5
    .row 
        .col-lg-6.pt-4
            .logo Store
            p.desc Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod laudantium similique id molestiae hic, dolore tempore officiis labore corporis iusto!
            p.copy Store &copy; 2020
            .form-group.mt-5.mb-2
                label Subscribe Now
                .Subscriber.d-flex
                    input(type="text", placeholder="SUBSCRIBE NOW").form-control.form-control-lg.border-0
                    button.btn.btn-primary Next
        .col-lg-6
            ul.list-unstyled.social
                li #[a(href="#") #[i.fab.fa-facebook]]
                li #[a(href="#") #[i.fab.fa-twitter]]
                li #[a(href="#") #[i.fab.fa-instagram]]
                li #[a(href="#") #[i.fab.fa-linkedin]]
                li #[a(href="#") #[i.fab.fa-youtube]]
            .d-flex 
                ul.list-unstyled.pages
                    li #[a(href="#") Home ]
                    li #[a(href="#") Menu ]
                    li #[a(href="#") Stories ]
                    li #[a(href="#") Get Help ]
                ul.list-unstyled.pages
                    li #[a(href="#") Home ]
                    li #[a(href="#") Menu ]
                    li #[a(href="#") Stories ]
                    li #[a(href="#") Get Help ]
        .col-lg-6
            
    